*{
   margin: 0;
   padding: 0;
}

body{
   text-align: center;
}

.users-container{
   width: 40vw;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}

.user{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 10px;
}

.flexChild{
   display: flex;
   justify-content: center;
   margin: 1rem 0;
}

video{
   width: 200px;
   height: 200px;
   object-fit: cover;
}